#max-score-input {
    font-size: 1rem;
    width: 150px;
}

.max-score-label {
    text-align: center;
}

.config-players-div {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.config-players-div button {
    width: 30px;
    min-width: 30px;
    height: 30px;
    padding: 0px;
}

.config-players-div p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
    height: 40px;
    width: 40px;
    border-radius: 3px;

    font-size: 1rem;
}