.rounds-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
    padding: 10px;
    border-radius: 8px;

    width: 100%;
    height: 50vh;
    max-height: 100%;

    flex-grow: 1;
    background-color: var(--light-color);
    overflow-y: auto;
}

.round-div {
    text-align: center;

    padding: 10px;

    border-top: solid rgb(31, 166, 166) 2px;
    border-bottom: solid rgb(31, 166, 166)  2px;

    background-color: var(--bg-color)
}

.finished-round {
    border-color: rgb(61, 182, 61);
}

.bursted-round {
    border-color:rgb(215, 69, 69);
}

