.player-column{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 45%;

    height: 100%;
}

#score {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 4px;
}

.player-column h2 {
    text-align: center;
    cursor: pointer;

    overflow: hidden;
}

.player-column input {
    font-size: 1.3rem;
    height: 40px;
}

.action-buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}

.action-buttons > div {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.action-buttons button {
    width: 100%;
    height: 40px;
    color: white;
}

.add-button {
    background-color: rgb(31, 166, 166);
}
.add-button:hover {
    background-color: rgb(36, 185, 185);
}
.add-button:active {
    background-color: rgb(28, 148, 148);
}

.finish-button {
    background-color: rgb(61, 182, 61);
}
.finish-button:hover {
    background-color: rgb(65, 193, 65);
}
.finish-button:active {
    background-color: rgb(55, 165, 55);
}

.burst-button {
    background-color: rgb(215, 69, 69);
}
.burst-button:hover {
    background-color: rgb(241, 77, 77);
}
.burst-button:active {
    background-color: rgb(187, 60, 60);
}

.name-modal {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 10px;
}

.name-modal > input {
    font-size: 1.1rem;
    height: 40px;
    width: 200px
}

.block-wall { 
    position: absolute;
    background-color: rgba(0, 0, 0, 0.279);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 450px) {
    .player-column h2 {
        font-size: 1.2rem;
    }

}