:root {
    --bg-color: white;
    
    --light-color: rgb(240, 240, 240);
    
    --text-color: black;
    
    --button-bg-color: rgb(48, 48, 48);
    --button-text-color: white;
    
    --input-bg-color: rgb(240, 240, 240);
    --input-text-color: black;
    --input-outline-color: rgb(120, 120, 120);
}

[data-theme="dark"] {
    --bg-color: rgb(33, 33, 33);
    
    --light-color: rgb(47, 47, 47);
    
    --text-color: rgb(255, 255, 255);
    
    --button-bg-color: rgb(47, 47, 47);
    --button-text-color: rgb(204, 204, 204);

    --input-bg-color: rgb(47, 47, 47);
    --input-text-color: white;
    --input-outline-color: rgb(120, 120, 120);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);

  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}


body {
    background-color: var(--bg-color);
}

#root {
    display: flex;
    flex-direction: column;
    height: 90vh;
    flex-grow: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    flex-grow: 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    width: fit-content;
    border: none;
    padding: 5px;
    min-height: 30px;
    border-radius: 5px;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    cursor: pointer;
}

.disabled-button {
    background-color: rgb(65, 65, 65);
    color: grey !important;
    cursor: default;
}

input {
    margin: 4px 0;
    padding: 8px;

    color: var(--input-text-color);
    background-color: var(--input-bg-color);
    border-radius: 5px;outline: var(--input-outline-color);
    border: none;
}

input:focus {
    outline: solid var(--input-outline-color) 2px;
    outline-offset: -2px;
}

.material-icons {
    color: var(--button-text-color);
    font-size: 1.2rem;
}

.disabled-button > .material-icons {
    color: grey !important;
}